<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>UsersPage</title>

</head>
<body>
<h1 th:text="${titleTable1}"/>
<table>
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Имя</th>
    <th scope="col">Фамилия</th>
    <th scope="col">Эл.почта</th>
    <th scope="col">Права доступа</th>
    <th scope="col">Операции</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">

    <td th:text="${user.getId()}">
    <td th:text="${user.getName()}">
    <td th:text="${user.getSurname()}">
    <td th:text="${user.getEmail()}">
    <td>
      <ul>
        <li th:each="role : ${user.roles}">
          <span th:text="${role.getRoleName()}"></span>
        </li>
      </ul>
    </td>
    <td>
      <form th:action="@{/user/page}" target="_self">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <button>Перейти на страницу пользователя</button>
      </form>
      <form th:action="@{/admin/redactor/{id}(id=${user.getId()})}" target="_self">
        <button>Обновить данные</button>
      </form>
      <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
        <button>Удалить пользователя</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<br>
<div sec:authorize="hasAuthority('ROLE_ADMIN')">
  <form action="/admin/addUser" target="_self">
    <button>Добавить нового пользователя</button>
  </form>
  <br>
  <br>
</div>
<form th:action="@{/logout}" th:method="POST" target="_self">
  <button>Выход</button>
</form>
</body>
</html>