<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/redactor/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">Имя</label>
  <input type="text"  th:field="*{name}" id="name" th:value="*{name}">
  <br/>
  <br/>
  <label for="surname">Фамилия</label>
  <input type="text" th:field="*{surname}" id="surname" th:value="*{surname}">
  <br/>
  <br/>
  <label for="email">Эл.почта</label>
  <input type="text" th:field="*{email}" id="email" th:value="${user.email}">
  <br/>
  <br/>
  <label>Права доступа:
    <select id="role-select" required class="form-control" th:field="*{roles}" multiple="multiple" >
      <option th:each="r : ${rolesAdd}"
              th:field="*{roles}"
              th:value="${r.id}"
              th:text="${r.roleName}">Role name
      </option>
    </select>
  </label>
  <br/>
  <br/>
  <label for="password">Пароль: </label>
  <input type="password" th:field="*{password}" id="password">
  <br/>
  <br/>
  <input type="submit" value="Обновить данные пользователя">
</form>
<br>
<br>
<div sec:authorize="hasAuthority('ROLE_ADMIN')">
  <form action="/admin/page" target="_self">
    <button>Вернуться к пользователям</button>
  </form>
</div>
<br>
<br>
<form th:action="@{/logout}" th:method="POST" target="_self">
  <button>Выход</button>
</form>
</body>
</html>